<!DOCTYPE html>
<html>
  <head>
    <title>RailsStackOverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="user_header">
        <% if current_user %>
        <%= link_to "Log Out", session_path("current"), :method => "delete" %> |
          Logged in as: <span class="logged_in_user blue"><%= current_user.name %></span>.
        <% else %>
          <%= link_to "Sign Up", new_user_path %> |
          <%= link_to "Log In", new_session_path %>
        <% end %>
      </div>

      <div class="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => 'flash#{name}' %>
        <% end %>
      </div>


      <%= yield %>

    </div>
  </body>
</html>
